$screensize: 1920px; /* デザイン画面幅　この幅に対して各部品は作成された　 */
$overflow_with:$screensize * 3; /* オーバーフローデザイン幅　画面数 */
$overflow_Layer:calc($overflow_with / $screensize) * 100%; /* オーバーフローレイヤーもレスポンシブ化 */

@function sizeConvert_btn($value) {/* 元は[sizeConvert_i]デザイン画面幅に対する部品幅の比率を算出してレスポンシブ対応 */
	@return calc($value / $screensize) * 100%;
}
@function sizeConvert_btn70($value) {
  @return calc(($value / $screensize) * 70%);
}
@function sizeConvert_btn_overflow($value) {/* オーバーフローデザイン幅に対する部品幅の比率を算出してレスポンシブ対応 */
	@return calc($value / $overflow_with) * 100%;
}
@function sizeConvert_btn_overflow70($value) {/* オーバーフローデザイン幅に対する部品幅の比率を算出してレスポンシブ対応 */
	@return calc($value / $overflow_with) * 70%;
}
@function sizeConvert_btn_overflow65($value) {/* オーバーフローデザイン幅に対する部品幅の比率を算出してレスポンシブ対応 */
	@return calc($value / $overflow_with) * 65%;
}
@function sizeConvert_overflowheight($value) {/* 環境ページ用、記事幅760を入力（記事枠の幅に対するoverflow-yの高さ指定） */
	@return calc($value / $overflow_with) * 100%;
}

//共通-------------------------------------------
:root{
  --device_width:1920px;  /* デバイス表示領域　 */
  --device_ratio:16/9;  /* デバイス画角比　 */
  --btn_seihin:rgba(70, 246, 0, 0.5);  /* 確認用ボタン色（切替用）　 */
  --btn_seihin2:rgba(74, 172, 143, 0.2);  /* 確認用ボタン色（切替用）　 */
  --testborder1:5px solid aqua;/* 確認用ボーダー（切替用）　 */
  --testborder2:0px solid orange;/* 確認用ボーダー（切替用）　 */
  --testBG1:rgb(127, 255, 0, 0);/* 確認用BG（切替用）　 */
  --testBG2:rgba(67, 67, 67, 0);/* 確認用BG（切替用）　 */
  --testBG3:rgba(67, 67, 67, 0);/* 確認用BG（切替用）　 */
}

//共通-------------------------------------------
:root{
  --device_width:1920px;  /* デバイス表示領域　 */
  --device_ratio:16/9;  /* デバイス画角比　 */
  --btn_seihin:rgba(70, 246, 0, 0.5);  /* 確認用ボタン色（切替用）　 */
  --btn_seihin2:rgba(74, 172, 143, 0.2);  /* 確認用ボタン色（切替用）　 */
  --testborder1:5px solid aqua;/* 確認用ボーダー（切替用）　 */
  --testborder2:0px solid orange;/* 確認用ボーダー（切替用）　 */
  --testBG1:rgb(127, 255, 0, 0);/* 確認用BG（切替用）　 */
  --testBG2:rgba(67, 67, 67, 0);/* 確認用BG（切替用）　 */
  --testBG3:rgba(67, 67, 67, 0);/* 確認用BG（切替用）　 */
}

.kagome_main button,
.remove_modal{
  background-color: rgb(0, 0, 0, 0);
  border: 0px solid #7e7e7e;
  margin:0;
  padding:0;
  cursor: pointer;
    img:hover{ 
      opacity: 0.85; 
      transition: all 0.25s ease-in-out;
    }
}
.kagome_main img,
.overlay img,
.overlay2 img{
  display: block;
  width: 100%;
}
*{box-sizing: border-box;} 

.kagome_main{
  position: relative;
  width: min(var(--device_width),100%);
  margin-inline:auto;
  padding: 0;
}

//company,Go with Greenページ　----------------------------
//オーバーフローレイヤー共通　　-----------------------------
.kagome_main_overflow{
  display: grid;
  grid-template-columns: 1fr;
}
.kagome_main_overflow > *{
  grid-area: 1/1;
}
.kagome_main_overflow > .overflow_container{
  background-color: var(--testBG1);
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.kagome_main_overflow > .overflow_container > .overflow_Layer{
  border: var(--testborder2);
  position: relative;
  width:$overflow_Layer;
  height: 100%;
  z-index: 30;
  left: 11%;
}

/* タイトル */
#btn_environment_logo {
  position: absolute;
  top: 35%;
  left: 4.6%;
  width: sizeConvert_btn_overflow70(642px);
  z-index: 20;
}
#btn_environment_title {
  position: absolute;
  top: 37%;
  left: 12.7%;
  width: sizeConvert_btn_overflow70(670px);
  z-index: 20;
}

// 第一階層
#btn_circle_01 {
  position: absolute;
  top: 49%;
  left: 22%;
  width: sizeConvert_btn_overflow70(361px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_02 {
  position: absolute;
  top: 12%;
  left: 28%;
  width: sizeConvert_btn_overflow70(541px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_03 {
  position: absolute;
  top: 56%;
  left: 33%;
  width: sizeConvert_btn_overflow70(361px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_04 {
  position: absolute;
  top: 15%;
  left: 40%;
  width: sizeConvert_btn_overflow70(361px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_05 {
  position: absolute;
  top: 50%;
  left: 42%;
  width: sizeConvert_btn_overflow70(541px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_06 {
  position: absolute;
  top: 9%;
  left: 49.5%;
  width: sizeConvert_btn_overflow70(541px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_07 {
  position: absolute;
  top: 57%;
  left: 53%;
  width: sizeConvert_btn_overflow70(361px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_08 {
  position: absolute;
  top: 51%;
  left: 62%;
  width: sizeConvert_btn_overflow70(541px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_09 {
  position: absolute;
  top: 16%;
  left: 65.5%;
  width: sizeConvert_btn_overflow70(361px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_10 {
  position: absolute;
  top: 55%;
  left: 73.5%;
  width: sizeConvert_btn_overflow70(361px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_11 {
  position: absolute;
  top: 10%;
  left: 76.5%;
  width: sizeConvert_btn_overflow70(541px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_12 {
  position: absolute;
  top: 51%;
  left: 84%;
  width: sizeConvert_btn_overflow70(541px);
  background: none;
  border: none;
  cursor: pointer;
}

#btn_circle_13 {
  position: absolute;
  top: 16%;
  left: 89%;
  width: sizeConvert_btn_overflow70(361px);
  background: none;
  border: none;
  cursor: pointer;
}

// ポップアップ
.popup_container {
  display: none;
  position: absolute;
  z-index: 50;
  pointer-events: auto;
}
.popup_image {
  position: relative;
  opacity: 0;
}

/* 閉じるボタンのスタイル */
.popup_container .close_button {
  position: absolute;
  right: 5.5%;
  top: 45%;
  width: 8%;
  height: 10%;
  background-color: var(--testBG3);
  border: none;
  cursor: pointer;
  z-index: 300;
  border-radius: 10%;
}

#popup_01 {
  position: absolute;
  top: 40.3%;
  left: 17.8%;
  width: sizeConvert_btn_overflow65(1090px); 
}
#popup_02 {
  position: absolute;
  top: 8%;
  left: 24.5%;
  width: sizeConvert_btn_overflow65(1090px); 
}
#popup_03 {
  position: absolute;
  top: 42.5%;
  left: 28.8%;
  width: sizeConvert_btn_overflow65(1090px);
}
#popup_04 {
  position: absolute;
  top: 1.5%;
  left: 35.8%;
  width: sizeConvert_btn_overflow65(1090px); 
}
#popup_05 {
  position: absolute;
  top: 42%;
  left: 38.8%;
  width: sizeConvert_btn_overflow65(1090px);
}
#popup_06 {
  position: absolute;
  top: 1%;
  left: 46.4%;
  width: sizeConvert_btn_overflow65(1090px);
}
#popup_07 {
  top: 43.4%;
  left: 48.8%;
  width: sizeConvert_btn_overflow65(1090px); 
}
#popup_08 {
  position: absolute;
  top: 43%;
  left: 58.8%;
  width: sizeConvert_btn_overflow65(1090px);
}
#popup_09 {
  position: absolute;
  top: 2.3%;
  left: 61.3%;
  width: sizeConvert_btn_overflow65(1090px);
}
#popup_10 {
  position: absolute;
  top: 41.3%;
  left: 69.3%;
  width: sizeConvert_btn_overflow65(1090px); 
}
#popup_11 {
  position: absolute;
  top: 2%;
  left: 73.3%;
  width: sizeConvert_btn_overflow65(1090px);
}
#popup_12 {
  top: 43%;
  left: 80.8%;
  width: sizeConvert_btn_overflow65(1090px); 
}
#popup_13 {
  top: 2.2%;
  left: 85%;
  width: sizeConvert_btn_overflow65(1090px); 
}
/* 上記ポップアップ内の記事枠とオーバーフローYに対する設定 */
.popup_container{
  .kiji-container{
    position: absolute;
    top:27.03%;
    left:50%;
    width: 69.5%;
  }
  .kiji-scroll{//記事枠、オーバーフローY　共通設定値
    position: relative;
    aspect-ratio: 19/10;
    transform: translateX(-50%);
    padding-right: 0.4rem;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc
  }
  .kiji-scroll{
    // background-color: #f0f0f0; /* グレー系の背景色 */
    // -webkit-overflow-scrolling: auto; /* 慣性スクロールを無効化 */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: 0.5rem;; /* Firefox用 */
    // scrollbar-color: rgba(214, 71, 71, 0.5) transparent; /* Firefox用 */
  }
  .kiji-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
  }
  .kiji-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width:  0.5rem;
  }
}

// 背景
#btn_logo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 16.5%;
  z-index: 100;
}

#btn_environment_sdgs {
  position: absolute;
  top: 2.7%;
  left: 72.6%;
  width: sizeConvert_btn70(681px);
  z-index: 20;
}

#btn_kikyu {
  position: absolute;
  top: 5%;
  left: 78%;
  width: sizeConvert_btn(120px);
  z-index: 20;
}

#btn_hikosen {
  position: absolute;
  top: 6%;
  left: 24%;
  width: sizeConvert_btn(213px);
  z-index: 20;
}

#btn_kikyu {
  position: absolute;
  top: 16%;
  left: 34.5%;
  width: sizeConvert_btn(69px);
  z-index: 20;
}

#btn_hikosen {
  position: absolute;
  top: 60%;
  left: 60%;
  width: sizeConvert_btn(119px);
  z-index: 20;
}