@charset "UTF-8";
/* デザイン画面幅　この幅に対して各部品は作成された　 */
/* オーバーフローデザイン幅　画面数 */
/* オーバーフローレイヤーもレスポンシブ化 */
:root {
  --device_width:1920px; /* デバイス表示領域　 */
  --device_ratio:4/3; /* デバイス画角比　 */
  --btn_seihin:rgba(70, 246, 0, 0); /* 確認用ボタン色（切替用）　 */
  --btn_seihin2:rgba(74, 172, 143, 0); /* 確認用ボタン色（切替用）　 */
  --testborder1:0px solid aqua; /* 確認用ボーダー（切替用）　 */
  --testborder2:0px solid orange; /* 確認用ボーダー（切替用）　 */
  --testBG1:rgb(127, 255, 0, 0); /* 確認用BG（切替用）　 */
  --testBG2:rgba(67, 67, 67, 0); /* 確認用BG（切替用）　 */
}

.kagome_main button,
.remove_modal {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #7e7e7e;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.kagome_main button img:hover,
.remove_modal img:hover {
  opacity: 0.85;
  transition: all 0.25s ease-in-out;
}

.kagome_main img,
.overlay img,
.overlay2 img {
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 70;
  animation: modalfadeout 0.5s forwards;
  animation-timing-function: ease-in-out;
}

.overlay_on {
  display: block;
  animation: modalfadein 0.5s forwards;
  animation-timing-function: ease-in-out;
}

.overlay > .remove_modal {
  position: absolute;
  inset: 0;
}

@keyframes modalfadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalfadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.kagome_main {
  position: relative;
  width: min(var(--device_width), 100%);
  margin-inline: auto;
  padding: 0;
}

#btn_beverage {
  position: absolute;
  top: 31.6%;
  left: 31%;
  width: 37.1759259259%;
  z-index: 20;
}

.info_beverage { /* 商品カテゴリークリック */
  width: min(var(--device_width) - 5%, 93%);
  padding: 0;
  position: relative;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0%);
}
.info_beverage .btn_close {
  position: absolute;
  left: 50%;
  bottom: 4%;
  transform: translateX(-50%);
  width: 3%;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
}

.info_hikosen {
  display: grid;
  justify-items: center;
  width: min(var(--device_width) - 5%, 97%);
  padding: 0;
  position: relative;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0%);
}
.info_hikosen .news-iframe {
  background-color: #fff !important;
  position: absolute;
  aspect-ratio: 1.77/1;
  top: 11%;
  width: 125%;
  transform: scale(0.7);
  transform-origin: top center; /* 縮小の起点は中央上 */
}
.info_hikosen .btn_close {
  position: absolute;
  left: 50%;
  bottom: 4%;
  transform: translateX(-50%);
  width: 2%;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
}

.info_kikyu {
  display: grid;
  justify-items: center;
  width: min(var(--device_width) - 5%, 97%);
  padding: 0;
  position: relative;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0%);
}
.info_kikyu .news-iframe {
  background-color: #fff !important;
  position: absolute;
  aspect-ratio: 1.77/1;
  top: 11%;
  width: 125%;
  transform: scale(0.7);
  transform-origin: top center; /* 縮小の起点は中央上 */
}
.info_kikyu .btn_close {
  position: absolute;
  left: 50%;
  bottom: 4%;
  transform: translateX(-50%);
  width: 2%;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
}/*# sourceMappingURL=kagome.css.map */